
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #65BCBF;
}
.motor{
	position: absolute;
	top:48%;
	left:33%;
	width: 18vw;
	height: 10vh;
	/*background:linear-gradient(90deg,#bbb,#f1f1f1);*/
	background: linear-gradient(0deg,#bbb 34%,#f1f1f1 16%,#bbb -8%,#f1f1f1 81%);
	transform: perspective(1000px) rotateY(-35deg);
	border-top-left-radius: 20px;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 20px;
    transform-style: preserve-3d;
}
.poll
{
	position: absolute;
	top:54%;
	left:39%;
	width: 1.5%;
	height: calc(50% - 40px);
	background:linear-gradient(90deg,#bbb,#f1f1f1);
	 /*box-shadow:10 10 5px gray;*/
}
.large-plate
{
	position: absolute;
	top:96%;
	left:31%;
	width: 20%;
	height: 20px;
	background-color: #fff;
	border-top-left-radius: 100%;
	border-top-right-radius: 100%;
	background:linear-gradient(90deg,gray -2%,#bbb 5%,#f1f1f1 43%,#f1f1f1 100%)
}
.main{
	position: absolute;
	
	top:calc(50% - 150px);
	left:calc(50% - 100px);
	transform: perspective(1000px) rotateY(-45deg);

	width: 200px;
	height: 300px;
	
	transform-style: preserve-3d;
	/*background-color: #fff;*/

}
.main div{
	position: absolute;
	top: 0;
	left:0;
	width:100%;
	height: 100%;
	transform-style: preserve-3d;
	animation: animate 5s linear infinite;
}
.main div span{
	position: absolute;
	top: 0;
	left: 0; 
	display: block;
	width:100%;
	height: 100%;
	background:linear-gradient(0deg ,#f1f1f1,#bbb,#f1f1f1);
	border-radius: 20px;
}
.main div span:nth-child(1)
{
	transform: rotateX(0deg);
}
.main div span:nth-child(2)
{
	transform: rotateX(45deg);
}
.main div span:nth-child(3)
{
	transform: rotateX(-45deg);
}
.main div span:nth-child(4)
{
	transform: rotateX(90deg);
}
@keyframes animate{
	0%{
		transform: perspective(1000px) rotateX(0deg);
	}
	100%{
		transform:perspective(1000px) rotateX(359deg);
	}
}